In [1]:
#Lets Import the packages
import pandas as pd

In [2]:
#lets import the first dataset.
raw_data_1=pd.read_csv("messy_dataset.csv", index_col='Sales ID')
raw_data_1

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid1,NaN,Aqua,Positive,eau de parfum,uni,f,150,325.044124,82.724641,NaN,PayPal,Sydney,NaN,100ml,NaN,2,2022-06-12,NaN
sid2,cid18393,Dusk,Positive,eau de cologne,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50ml,81.11,2017-07-26,5,2%
sid3,cid3108,Aqua,Positive,eau de cologne,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30ml,36.22,2019-12-23,1,2%
sid4,cid181,Elixir,Positive,eau de cologne,Unisex,F,150,747.300840,176.283608,4.0,Card,London,UK,200ml,15.25,2018-05-06,4,4%
sid5,cid48531,Dusk,Positive,eau de cologne,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30ml,44.53,2022-07-26,3,4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid199996,cid829,Aqua,Positive,eau de cologne,woman,f,150,968.206715,42.376160,1.0,Card,London,UK,100ml,78.94,2021-08-28,1,3%
sid199997,cid49485,Belle,Neutral,eau de cologne,Women,M,22,137.624430,96.337101,2.0,Card,Dubai,UAE,200ml,49.95,2020-12-20,12,4%
sid199998,cid42688,Elixir,Neutral,eau de cologne,Unisex,F,42,282.438277,225.950621,NaN,Bank Transfer,Paris,France,50ml,52.24,2022-02-27,1,3%
sid199999,cid45803,Dusk,Negative,eau de cologne,Women,M,150,950.425435,59.397882,4.0,Card,London,UK,100ml,74.91,2022-03-05,1,4%
sid200000,cid22146,Elixir,Positive,eau de cologne,Men,F,25,196.077214,137.254050,3.0,Card,Sydney,Australia,75ml,49.39,2019-01-30,4,4%

In [3]:
raw_data_2=pd.read_csv('dataset 5.csv', index_col='Sales ID')
raw_data_2

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid1,NaN,Elixir,NaN,eau de parfum,NaN,NaN,138,1387.501545,12.000000,NaN,Card,NaN,NaN,200ml,59.17,2018/02/02,5,NaN
sid2,cid36169,Ciel,Negative,eau de cologne,Women,M,34,279.875842,223.900674,4.0,Card,Dubai,UAE,50ml,67.47,2022/07/23,2,4%
sid3,cid33746,Elixir,Neutral,eau de toilette,Women,M,24,142.771487,85.662892,6.0,Card,Sydney,Australia,200ml,80.49,2022/02/03,3,7%
sid4,cid37443,Elixir,Neutral,eau de cologne,Unisex,M,84,6138.733384,358.031304,8.0,Cash,Sydney,Australia,50ml,66.83,2020/11/03,3,3%
sid5,cid29397,Dusk,Positive,eau de cologne,Men,F,19,123.026513,73.815908,4.0,Card,New York,USA,100ml,94.08,2021/01/14,3,3%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid199996,cid42647,Ciel,Positive,NaN,Uni,f,66,5961.375604,48.243248,2.0,Card,London,UK,75ml,99.06,2017/12/19,3,3%
sid199997,cid38796,Dusk,Positive,eau de cologne,Unisex,M,28,191.383222,153.106578,2.0,Cash,Dubai,UAE,50ml,93.96,2017/06/05,1,3%
sid199998,cid49535,Ciel,Positive,eau de toilette,Women,F,30,112.734137,67.640482,NaN,NaN,Paris,France,100ml,0.87,2022/01/14,1,11%
sid199999,cid15939,Elixir,Negative,eau de cologne,Unisex,M,61,7362.003212,207.695361,9.0,Card,New York,USA,75ml,49.84,2019/11/06,4,3%
sid200000,cid12071,Elixir,Negative,eau de cologne,Unisex,F,29,168.874497,118.212148,1.0,Card,Dubai,UAE,100ml,28.27,2018/08/04,4,2%

In [4]:
#lets merge the two datasets together. We are only interested in the first 100 thousand rows for the each dataset
df_raw=pd.concat([raw_data_1[:100000], raw_data_2[:100000]], axis =0)

In [5]:

df_raw=df_raw.copy()
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid1,NaN,Aqua,Positive,eau de parfum,uni,f,150,325.044124,82.724641,NaN,PayPal,Sydney,NaN,100ml,NaN,2,2022-06-12,NaN
sid2,cid18393,Dusk,Positive,eau de cologne,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50ml,81.11,2017-07-26,5,2%
sid3,cid3108,Aqua,Positive,eau de cologne,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30ml,36.22,2019-12-23,1,2%
sid4,cid181,Elixir,Positive,eau de cologne,Unisex,F,150,747.300840,176.283608,4.0,Card,London,UK,200ml,15.25,2018-05-06,4,4%
sid5,cid48531,Dusk,Positive,eau de cologne,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30ml,44.53,2022-07-26,3,4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99996,cid15897,Aqua,Positive,NaN,Uni,f,25,592.211175,710.653410,NaN,Paypal,Dubai,UAE,100ml,16.28,2018/05/08,3,19%
sid99997,cid32780,Dusk,Positive,eau de cologne,NaN,M,114,7846.779319,208.142739,5.0,Bank Transfer,Paris,France,100ml,44.99,2021/06/24,5,2%
sid99998,cid35422,Ciel,Positive,eau de cologne,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100ml,69.93,2017/07/18,4,NaN
sid99999,cid8530,Elixir,Positive,eau de cologne,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50ml,97.11,2020/10/08,4,4%
sid100000,cid44269,Belle,Positive,eau de cologne,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30ml,36.81,2019/10/16,5,2%

In [6]:
type(df_raw)

pandas.core.frame.DataFrame

In [7]:
df_raw.shape

(200000, 18)

In [8]:
#lets get a summary of the dataset.
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, sid1 to sid100000
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Customer ID             180000 non-null  object
 1   Product Name            200000 non-null  object
 2   Sentiment               190909 non-null  object
 3   Category                181819 non-null  object
 4   User Type               192307 non-null  object
 5   Gender                  194117 non-null  object
 6   Age                     200000 non-null  int64
 7   Price                   200000 non-null  float64
 8   Cost Price              200000 non-null  float64
 9   Quantity                171428 non-null  float64
 10  Payment Method          193538 non-null  object
 11  City                    195652 non-null  object
 12  Country                 186561 non-null  object
 13  Bottle Size             198550 non-null  object
 14  Discount                192307 non-null  float64
 15  Purchase Date           200000 non-null  object
 16  Rating                  200000 non-null  object
 17  Oil Content Percentage  188853 non-null  object
dtypes: float64(4), int64(1), object(13)
memory usage: 29.0+ MB

In [9]:
#The dataset shows we have quite a large number of missing values among others.

**DATA CLEANING AND PREPROCESSING**

Customer ID

In [10]:
#we have about 20000 missing customer IDs in our dataset which is very significant and therefore cannot be dropped.
pd.isnull(df_raw['Customer ID']).sum()

20000

In [11]:
#lets replace all the missing customer IDS with N/A.
df_raw['Customer ID']=df_raw['Customer ID'].fillna('N/A')
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid1,N/A,Aqua,Positive,eau de parfum,uni,f,150,325.044124,82.724641,NaN,PayPal,Sydney,NaN,100ml,NaN,2,2022-06-12,NaN
sid2,cid18393,Dusk,Positive,eau de cologne,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50ml,81.11,2017-07-26,5,2%
sid3,cid3108,Aqua,Positive,eau de cologne,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30ml,36.22,2019-12-23,1,2%
sid4,cid181,Elixir,Positive,eau de cologne,Unisex,F,150,747.300840,176.283608,4.0,Card,London,UK,200ml,15.25,2018-05-06,4,4%
sid5,cid48531,Dusk,Positive,eau de cologne,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30ml,44.53,2022-07-26,3,4%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99996,cid15897,Aqua,Positive,NaN,Uni,f,25,592.211175,710.653410,NaN,Paypal,Dubai,UAE,100ml,16.28,2018/05/08,3,19%
sid99997,cid32780,Dusk,Positive,eau de cologne,NaN,M,114,7846.779319,208.142739,5.0,Bank Transfer,Paris,France,100ml,44.99,2021/06/24,5,2%
sid99998,cid35422,Ciel,Positive,eau de cologne,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100ml,69.93,2017/07/18,4,NaN
sid99999,cid8530,Elixir,Positive,eau de cologne,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50ml,97.11,2020/10/08,4,4%
sid100000,cid44269,Belle,Positive,eau de cologne,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30ml,36.81,2019/10/16,5,2%

Product Name

In [12]:
df_raw['Product Name']

Sales ID
sid1           Aqua
sid2           Dusk
sid3           Aqua
sid4         Elixir
sid5           Dusk
              ...
sid99996       Aqua
sid99997       Dusk
sid99998       Ciel
sid99999     Elixir
sid100000     Belle
Name: Product Name, Length: 200000, dtype: object

In [13]:
pd.isnull(df_raw['Product Name']).sum()

0

In [14]:
pd.unique(df_raw['Product Name'])

array(['Aqua', 'Dusk', 'Elixir', 'Ciel', 'Belle'], dtype=object)

In [15]:
#the product Name column looks okay without missing values or inconsistent formatting

Sentiment

In [16]:
df_raw['Sentiment']

Sales ID
sid1         Positive
sid2         Positive
sid3         Positive
sid4         Positive
sid5         Positive
               ...
sid99996     Positive
sid99997     Positive
sid99998     Positive
sid99999     Positive
sid100000    Positive
Name: Sentiment, Length: 200000, dtype: object

In [17]:
pd.isnull(df_raw['Sentiment']).sum()

9091

In [18]:
df_raw['Sentiment'].unique()

array(['Positive', 'Negative', 'Neutral', nan], dtype=object)

In [19]:
#lets get the value counts of the items in the sentiments column
df_raw['Sentiment'].value_counts()

Sentiment
Positive    133435
Negative     38354
Neutral      19120
Name: count, dtype: int64

In [20]:
#lets find the mode of the column to see  which is more frequent.
df_raw['Sentiment'].mode()[0]

'Positive'

In [21]:
#rather than assign the mode(positive) to them. these categories of people might resonate with being positive, negative and also neutral.
#lets create a column mixed and assign it to them.
df_raw['Sentiment']=df_raw['Sentiment'].fillna('Ambivalent')
df_raw['Sentiment'].value_counts()

Sentiment
Positive      133435
Negative       38354
Neutral        19120
Ambivalent      9091
Name: count, dtype: int64

In [22]:
df_raw['Category']

Sales ID
sid1          eau de parfum
sid2         eau de cologne
sid3         eau de cologne
sid4         eau de cologne
sid5         eau de cologne
                  ...
sid99996                NaN
sid99997     eau de cologne
sid99998     eau de cologne
sid99999     eau de cologne
sid100000    eau de cologne
Name: Category, Length: 200000, dtype: object

In [23]:
pd.isnull(df_raw['Category']).sum()

18181

In [24]:
df_raw['Category'].unique()

array(['eau de parfum', 'eau de cologne', 'eau de toilette', nan],
      dtype=object)

In [25]:
df_raw['Category'].value_counts()

Category
eau de cologne     132204
eau de parfum       24873
eau de toilette     24742
Name: count, dtype: int64

In [26]:
#The head of data said  that all edcs are for edps and an error was made durign  data entry.
#lets replace all the edps with edcs and vice versa
df_raw['Category']=df_raw['Category'].replace({'eau de parfum': 'eau de cologne', 'eau de cologne': 'eau de parfum'})

In [27]:
df_raw['Category'].value_counts()

Category
eau de parfum      132204
eau de cologne      24873
eau de toilette     24742
Name: count, dtype: int64

In [28]:
df_raw['Category'].mode()

0    eau de parfum
Name: Category, dtype: object

In [29]:
#lets fill the nan with the mode of the column. Technically, the vast majority of perfumes worlwide are edps
df_raw['Category']=df_raw['Category'].fillna('eau de parfum')

In [30]:
df_raw['Category'].value_counts()

Category
eau de parfum      150385
eau de cologne      24873
eau de toilette     24742
Name: count, dtype: int64

User Type

In [31]:
df_raw['User Type']

Sales ID
sid1            uni
sid2          Women
sid3          Women
sid4         Unisex
sid5          Women
              ...
sid99996        Uni
sid99997        NaN
sid99998     Unisex
sid99999      Women
sid100000     Women
Name: User Type, Length: 200000, dtype: object

In [32]:
df_raw['User Type'].unique()
#the output shows we have inconsistent formatting in the columns

array(['uni', 'Women', 'Unisex', 'Men', 'man', 'woman', nan, 'Man',
       'Woman', 'Uni'], dtype=object)

In [33]:
df_raw['User Type']=df_raw['User Type'].replace({'uni':'Unisex', 'man':'Men','woman':'Women', 'Man':'Men', 'Woman':'Women', 
                             'Uni':'Unisex'})

In [34]:
df_raw['User Type'].unique()

array(['Unisex', 'Women', 'Men', nan], dtype=object)

In [35]:
#lets handle the missing values
pd.isnull(df_raw['User Type']).sum()

7693

In [36]:
df_raw['User Type'].mode()

0    Women
Name: User Type, dtype: object

In [37]:
#lets fill the missing user type rows with N/A as some products do not have user type labels written on them.
df_raw['User Type']=df_raw['User Type'].fillna('N/A')

In [38]:
df_raw['User Type'].unique()

array(['Unisex', 'Women', 'Men', 'N/A'], dtype=object)

Gender

In [39]:
df_raw['Gender']

Sales ID
sid1         f
sid2         F
sid3         M
sid4         F
sid5         F
            ..
sid99996     f
sid99997     M
sid99998     M
sid99999     F
sid100000    M
Name: Gender, Length: 200000, dtype: object

In [40]:
df_raw['Gender'].unique()

array(['f', 'F', 'M', 'm', nan], dtype=object)

In [41]:
#lets standardize the formats of the gender column
df_raw['Gender']=df_raw['Gender'].replace({'f':'F','m':'M'})

In [42]:
df_raw['Gender']

Sales ID
sid1         F
sid2         F
sid3         M
sid4         F
sid5         F
            ..
sid99996     F
sid99997     M
sid99998     M
sid99999     F
sid100000    M
Name: Gender, Length: 200000, dtype: object

In [43]:
#lets fill the missing rows with 'others' since we don't know what gender they belong to. They might belong to other genders
pd.isnull(df_raw['Gender']).sum()

5883

In [44]:
df_raw['Gender']=df_raw['Gender'].fillna('O')
df_raw['Gender'].unique()

array(['F', 'M', 'O'], dtype=object)

Age

We have been told that the focus for the analysis was customers aged 18-65. Therefore, the remaining are irrelavant errors.

In [45]:
df_raw['Age']

Sales ID
sid1         150
sid2          37
sid3          34
sid4         150
sid5          30
            ...
sid99996      25
sid99997     114
sid99998      34
sid99999      40
sid100000     46
Name: Age, Length: 200000, dtype: int64

In [46]:
#deleting all the rows with ages>65
df_raw=df_raw[df_raw['Age'] <= 65]
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid2,cid18393,Dusk,Positive,eau de parfum,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50ml,81.11,2017-07-26,5,2%
sid3,cid3108,Aqua,Positive,eau de parfum,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30ml,36.22,2019-12-23,1,2%
sid5,cid48531,Dusk,Positive,eau de parfum,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30ml,44.53,2022-07-26,3,4%
sid6,cid26224,Aqua,Positive,eau de cologne,Unisex,M,27,127.765291,102.212233,3.0,Card,Dubai,UAE,50ml,59.32,2017-10-16,5,3%
sid8,cid39791,Dusk,Positive,eau de parfum,Men,M,44,180.938378,144.750702,NaN,Card,New York,USA,50ml,14.38,2020-08-07,1,2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99995,cid14569,Elixir,Negative,eau de parfum,Men,O,24,412.205061,494.646073,2.0,Cash,Sydney,Australia,50ml,1.01,2019/10/16,3,2%
sid99996,cid15897,Aqua,Positive,eau de parfum,Unisex,F,25,592.211175,710.653410,NaN,Paypal,Dubai,UAE,100ml,16.28,2018/05/08,3,19%
sid99998,cid35422,Ciel,Positive,eau de parfum,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100ml,69.93,2017/07/18,4,NaN
sid99999,cid8530,Elixir,Positive,eau de parfum,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50ml,97.11,2020/10/08,4,4%
sid100000,cid44269,Belle,Positive,eau de parfum,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30ml,36.81,2019/10/16,5,2%

In [47]:
df_raw.shape

(144635, 18)

Quantity

In [48]:
df_raw['Quantity']

Sales ID
sid2          8.0
sid3          2.0
sid5          2.0
sid6          3.0
sid8          NaN
             ...
sid99995      2.0
sid99996      NaN
sid99998      4.0
sid99999      6.0
sid100000    10.0
Name: Quantity, Length: 144635, dtype: float64

In [49]:
#lets replace all missing values in the quantity column with the mean of the column.
pd.isnull(df_raw['Quantity']).sum()

20676

In [50]:
mean_qty=df_raw['Quantity'].mean().round(0)
mean_qty
#since we cant have half quantitiy for a perfume, we round it to the nearest whole number.

6.0

In [51]:
df_raw.loc[:,'Quantity']=df_raw['Quantity'].fillna(mean_qty)
df_raw['Quantity']

Sales ID
sid2          8.0
sid3          2.0
sid5          2.0
sid6          3.0
sid8          6.0
             ...
sid99995      2.0
sid99996      6.0
sid99998      4.0
sid99999      6.0
sid100000    10.0
Name: Quantity, Length: 144635, dtype: float64

In [52]:
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size,Discount,Purchase Date,Rating,Oil Content Percentage
Sales ID,,,,,,,,,,,,,,,,,,
sid2,cid18393,Dusk,Positive,eau de parfum,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50ml,81.11,2017-07-26,5,2%
sid3,cid3108,Aqua,Positive,eau de parfum,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30ml,36.22,2019-12-23,1,2%
sid5,cid48531,Dusk,Positive,eau de parfum,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30ml,44.53,2022-07-26,3,4%
sid6,cid26224,Aqua,Positive,eau de cologne,Unisex,M,27,127.765291,102.212233,3.0,Card,Dubai,UAE,50ml,59.32,2017-10-16,5,3%
sid8,cid39791,Dusk,Positive,eau de parfum,Men,M,44,180.938378,144.750702,6.0,Card,New York,USA,50ml,14.38,2020-08-07,1,2%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99995,cid14569,Elixir,Negative,eau de parfum,Men,O,24,412.205061,494.646073,2.0,Cash,Sydney,Australia,50ml,1.01,2019/10/16,3,2%
sid99996,cid15897,Aqua,Positive,eau de parfum,Unisex,F,25,592.211175,710.653410,6.0,Paypal,Dubai,UAE,100ml,16.28,2018/05/08,3,19%
sid99998,cid35422,Ciel,Positive,eau de parfum,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100ml,69.93,2017/07/18,4,NaN
sid99999,cid8530,Elixir,Positive,eau de parfum,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50ml,97.11,2020/10/08,4,4%
sid100000,cid44269,Belle,Positive,eau de parfum,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30ml,36.81,2019/10/16,5,2%

Payment Method

In [53]:
df_raw['Payment Method']

Sales ID
sid2                  Card
sid3         Bank Transfer
sid5                  Cash
sid6                  Card
sid8                  Card
                 ...
sid99995              Cash
sid99996            Paypal
sid99998              Card
sid99999              Cash
sid100000             Cash
Name: Payment Method, Length: 144635, dtype: object

In [54]:
df_raw['Payment Method'].unique()

array(['Card', 'Bank Transfer', 'Cash', 'PayPal', nan, 'Paypal'],
      dtype=object)

In [55]:
df_raw.loc[:,'Payment Method']=df_raw['Payment Method'].replace({'Paypal':'Bank Transfer'})
df_raw['Payment Method'].unique()

array(['Card', 'Bank Transfer', 'Cash', 'PayPal', nan], dtype=object)

In [56]:
#replacing the missing values
pd.isnull(df_raw['Payment Method']).sum()

4657

In [57]:
df_raw['Payment Method'].value_counts()

Payment Method
Card             91594
Cash             29432
Bank Transfer    17032
PayPal            1920
Name: count, dtype: int64

In [58]:
df_raw['Payment Method'].mode()

0    Card
Name: Payment Method, dtype: object

In [59]:
df_raw.loc[:,'Payment Method']=df_raw['Payment Method'].fillna('Card')
df_raw['Payment Method'].unique()

array(['Card', 'Bank Transfer', 'Cash', 'PayPal'], dtype=object)

City and Country

In [60]:
df_raw['City'].unique()

array(['Tokyo', 'London', 'Dubai', 'New York', 'Paris', 'Sydney', nan],
      dtype=object)

In [61]:
pd.isnull(df_raw['City']).sum()

3392

In [62]:
df_raw['Country'].unique()

array(['Japan', 'UK', 'UAE', 'USA', 'France', nan, 'Australia'],
      dtype=object)

In [63]:
pd.isnull(df_raw['Country']).sum()

9400

In [64]:
#fill the missing City rows with attributes of the country column and vice versa  through mapping.
#first we create a dictionary with keys and its values.

city_country_mapping = {
    'Tokyo': 'Japan',
    'London': 'UK',
    'Dubai': 'UAE',
    'New York': 'USA',
    'Paris': 'France',
    'Sydney': 'Australia'
}

In [65]:
# Fill missing values in City column using Country column
df_raw.loc[:,'City'] =df_raw['City'].fillna(df_raw['Country'].map(city_country_mapping))

In [66]:
# Fill missing values in Country column using City column
#lets create another dictionary by iterating over the items in city_country. i.e swapping the keys for values and vice versa
country_city_mapping = {v: k for k, v in city_country_mapping.items()}
df_raw.loc[:,'Country'] = df_raw['Country'].fillna(df_raw['City'].map(country_city_mapping))

In [67]:
#lets check how many missing values we have now
pd.isnull(df_raw['City']).sum()

3392

In [68]:
pd.isnull(df_raw['Country']).sum()

9400

In [69]:
#lets fill the empty city and Country with Online. They  might be sales that did not originate from any location, as such ,..
#customers bought them online and not from a ny physical  store.
df_raw.loc[:,'City']=df_raw['City'].fillna('Online')

In [70]:
df_raw.loc[:,'Country']=df_raw['Country'].fillna('Online')

In [71]:
df_raw['Country'].value_counts()

Country
UK           27232
USA          27004
UAE          26887
France       26811
Japan        13715
Australia    13586
Online        9400
Name: count, dtype: int64

In [72]:
df_raw['City'].value_counts()

City
London      28435
New York    28232
Dubai       28069
Paris       27985
Tokyo       14354
Sydney      14168
Online       3392
Name: count, dtype: int64

Bottle Size

In [73]:
df_raw['Bottle Size']

Sales ID
sid2          50ml
sid3          30ml
sid5          30ml
sid6          50ml
sid8          50ml
             ...
sid99995      50ml
sid99996     100ml
sid99998     100ml
sid99999      50ml
sid100000     30ml
Name: Bottle Size, Length: 144635, dtype: object

In [74]:
df_raw['Bottle Size'].unique()

array(['50ml', '30ml', '75ml', '100ml', '200ml', nan], dtype=object)

In [75]:
pd.isnull(df_raw['Bottle Size']).sum()

955

In [76]:
df_raw['Bottle Size'].mode()

0    50ml
Name: Bottle Size, dtype: object

In [77]:
#lets replace all the nan with the mode of the column.
df_raw.loc[:,'Bottle Size']=df_raw['Bottle Size'].fillna('50ml')

In [78]:
#lets rename the bottle size column and remove ml from the body of the values

df_raw.loc[:,'Bottle Size']=df_raw['Bottle Size'].str.replace('ml','')

In [79]:
#renaming the column
df_raw = df_raw.rename(columns={'Bottle Size': 'Bottle Size (ml)'})

In [80]:
#lets change the column to int
df_raw['Bottle Size (ml)']=df_raw['Bottle Size (ml)'].astype(int)

DISCOUNT

In [81]:
df_raw['Discount']

Sales ID
sid2         81.11
sid3         36.22
sid5         44.53
sid6         59.32
sid8         14.38
             ...
sid99995      1.01
sid99996     16.28
sid99998     69.93
sid99999     97.11
sid100000    36.81
Name: Discount, Length: 144635, dtype: float64

In [82]:
pd.isnull(df_raw['Discount']).sum()

5077

In [83]:
#the missing   values in the discount column would be replaced with Zeros.We want to assume that those sales had no discounts on them.
df_raw.loc[:,'Discount']=df_raw['Discount'].fillna(0)

In [84]:
pd.isnull(df_raw['Discount']).sum()

0

Purchase Date

In [85]:
df_raw['Purchase Date']

Sales ID
sid2         2017-07-26
sid3         2019-12-23
sid5         2022-07-26
sid6         2017-10-16
sid8         2020-08-07
                ...
sid99995     2019/10/16
sid99996     2018/05/08
sid99998     2017/07/18
sid99999     2020/10/08
sid100000    2019/10/16
Name: Purchase Date, Length: 144635, dtype: object

In [86]:
#lets check for missing date values
pd.isnull(df_raw['Purchase Date']).sum()

0

In [87]:
df_raw['Purchase Date'].unique()

array(['2017-07-26', '2019-12-23', '2022-07-26', ..., '2018/09/27',
       '2019/08/22', '2020/02/26'], dtype=object)

In [88]:
#lets standardize the date column
df_raw.loc[:,'Purchase Date']=pd.to_datetime(df_raw['Purchase Date'], format='%Y-%m-%d', errors='coerce')
df_raw['Purchase Date']

Sales ID
sid2         2017-07-26 00:00:00
sid3         2019-12-23 00:00:00
sid5         2022-07-26 00:00:00
sid6         2017-10-16 00:00:00
sid8         2020-08-07 00:00:00
                    ...
sid99995                     NaT
sid99996                     NaT
sid99998                     NaT
sid99999                     NaT
sid100000                    NaT
Name: Purchase Date, Length: 144635, dtype: object

In [89]:
missing_dates=df_raw[df_raw['Purchase Date'].isna()]
print(missing_dates)

          Customer ID Product Name Sentiment        Category User Type Gender
Sales ID
sid14        cid29972        Belle  Positive   eau de parfum     Women      F  \
sid27        cid35312         Dusk  Positive   eau de parfum    Unisex      M
sid53        cid28741       Elixir  Negative   eau de parfum    Unisex      M
sid66        cid11742        Belle  Positive  eau de cologne     Women      F
sid92        cid15480         Aqua  Negative   eau de parfum    Unisex      F
...               ...          ...       ...             ...       ...    ...
sid99995     cid14569       Elixir  Negative   eau de parfum       Men      O
sid99996     cid15897         Aqua  Positive   eau de parfum    Unisex      F
sid99998     cid35422         Ciel  Positive   eau de parfum    Unisex      M
sid99999      cid8530       Elixir  Positive   eau de parfum     Women      F
sid100000    cid44269        Belle  Positive   eau de parfum     Women      M

           Age        Price  Cost Price  Quantity Payment Method      City
Sales ID
sid14       20    82.046807   49.228084       1.0  Bank Transfer     Paris  \
sid27       43   246.625657  197.300525       1.0           Card     Dubai
sid53       21    99.018765   59.411259       2.0           Card     Dubai
sid66       38   281.715638  225.372510       5.0           Card     Dubai
sid92       19    78.623144   55.036201       6.0           Card    London
...        ...          ...         ...       ...            ...       ...
sid99995    24   412.205061  494.646073       2.0           Cash    Sydney
sid99996    25   592.211175  710.653410       6.0  Bank Transfer     Dubai
sid99998    34   146.525687   10.000000       4.0           Card     Paris
sid99999    40   284.124574  227.299659       6.0           Cash     Paris
sid100000   46  6969.170760   47.773840      10.0           Cash  New York

             Country  Bottle Size (ml)  Discount Purchase Date Rating
Sales ID
sid14         France               100      0.00           NaT      5  \
sid27            UAE               200      0.00           NaT      2
sid53            UAE                30      0.00           NaT      1
sid66            UAE               200      0.00           NaT      4
sid92             UK                50      0.00           NaT      1
...              ...               ...       ...           ...    ...
sid99995   Australia                50      1.01           NaT      3
sid99996         UAE               100     16.28           NaT      3
sid99998      France               100     69.93           NaT      4
sid99999      France                50     97.11           NaT      4
sid100000        USA                30     36.81           NaT      5

          Oil Content Percentage
Sales ID
sid14                         3%
sid27                         3%
sid53                         4%
sid66                         2%
sid92                         4%
...                          ...
sid99995                      2%
sid99996                     19%
sid99998                     NaN
sid99999                      4%
sid100000                     2%

[83714 rows x 18 columns]

In [90]:
df_raw['Purchase Date'].isna().sum()

83714

In [91]:
import numpy as np

# Generate random dates between 2017 and 2022
start_date = pd.to_datetime('2017-01-01')
end_date = pd.to_datetime('2022-12-31')
random_dates = np.random.choice(pd.date_range(start_date, end_date), size=df_raw['Purchase Date'].isnull().sum())

# Fill NaN values with random dates
df_raw.loc[df_raw['Purchase Date'].isnull(), 'Purchase Date'] = random_dates

In [92]:
df_raw['Purchase Date']

Sales ID
sid2                   2017-07-26 00:00:00
sid3                   2019-12-23 00:00:00
sid5                   2022-07-26 00:00:00
sid6                   2017-10-16 00:00:00
sid8                   2020-08-07 00:00:00
                         ...
sid99995     2017-06-22T00:00:00.000000000
sid99996     2022-12-31T00:00:00.000000000
sid99998     2021-09-21T00:00:00.000000000
sid99999     2020-09-22T00:00:00.000000000
sid100000    2020-12-16T00:00:00.000000000
Name: Purchase Date, Length: 144635, dtype: object

In [93]:
df_raw['Purchase Date'] = pd.to_datetime(df_raw['Purchase Date'])
df_raw['Purchase Date'] = df_raw['Purchase Date'].dt.strftime('%Y-%m-%d')

In [94]:
df_raw['Purchase Date'].isna().sum()

0

Rating

In [95]:
df_raw['Rating']

Sales ID
sid2         5
sid3         1
sid5         3
sid6         5
sid8         1
            ..
sid99995     3
sid99996     3
sid99998     4
sid99999     4
sid100000    5
Name: Rating, Length: 144635, dtype: object

In [96]:
df_raw['Rating'].unique()

array(['5', '1', '3', '4', '2021-05-11', '12', '2', '10', '2022-06-12', 2,
       3, 4, 1, 5], dtype=object)

In [97]:
#the rating columns should be comprised of numbers 1-5. however we have numbers of up 12 as well as Date columns.
#we replace the Ratings of 12 with 2 and 10 with 1 and also work on those having dates. change the column to an integer...
#so that values recorded as strings can reflect int values.

In [98]:
df_raw.loc[:,'Rating']=df_raw['Rating'].replace({'10':1,'12:':2, '2021-05-11':1,'2022-06-12':2})

In [99]:
#lets assign int to the ratings column
df_raw.loc[:,'Rating']=df_raw['Rating'].astype(int)

Oil Percentage

In [100]:
df_raw['Oil Content Percentage']

Sales ID
sid2          2%
sid3          2%
sid5          4%
sid6          3%
sid8          2%
            ...
sid99995      2%
sid99996     19%
sid99998     NaN
sid99999      4%
sid100000     2%
Name: Oil Content Percentage, Length: 144635, dtype: object

In [101]:
df_raw['Oil Content Percentage']=df_raw['Oil Content Percentage'].str.replace('%', '')

In [102]:
df_raw=df_raw.rename(columns={'Oil Content Percentage': 'Oil Content (%)'})

In [103]:
df_raw['Oil Content (%)'].isna().sum()

8055

In [104]:
#we want to randomly assign values to the oil content % based on the values of the category row wise.
#NB: The Oil content % column was initially generated at random based on the general applications o essential oils to categories 
#of fragrances.
category_mapping = {
    "eau de cologne": (2, 4),
    "eau de toilette": (5, 15),
    "eau de parfum": (16, 19)
}

In [105]:
#lets define a function that will raandomly generate numbers to fill the missing values.
import numpy as np

def assign_random_value(Category):
    min_val, max_val = category_mapping[Category]
    return np.random.randint(min_val, max_val + 1)

In [106]:
#filling up the missing values in oil content column if null based on the valuue of the category column  
df_raw["oil content (%)"] =df_raw.apply(lambda row: assign_random_value(row["Category"])
         if pd.isnull(row["Oil Content (%)"])
         else row["Oil Content (%)"], axis=1)

In [107]:
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size (ml),Discount,Purchase Date,Rating,Oil Content (%),oil content (%)
Sales ID,,,,,,,,,,,,,,,,,,,
sid2,cid18393,Dusk,Positive,eau de parfum,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50,81.11,2017-07-26,5,2,2
sid3,cid3108,Aqua,Positive,eau de parfum,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30,36.22,2019-12-23,1,2,2
sid5,cid48531,Dusk,Positive,eau de parfum,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30,44.53,2022-07-26,3,4,4
sid6,cid26224,Aqua,Positive,eau de cologne,Unisex,M,27,127.765291,102.212233,3.0,Card,Dubai,UAE,50,59.32,2017-10-16,5,3,3
sid8,cid39791,Dusk,Positive,eau de parfum,Men,M,44,180.938378,144.750702,6.0,Card,New York,USA,50,14.38,2020-08-07,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99995,cid14569,Elixir,Negative,eau de parfum,Men,O,24,412.205061,494.646073,2.0,Cash,Sydney,Australia,50,1.01,2017-06-22,3,2,2
sid99996,cid15897,Aqua,Positive,eau de parfum,Unisex,F,25,592.211175,710.653410,6.0,Bank Transfer,Dubai,UAE,100,16.28,2022-12-31,3,19,19
sid99998,cid35422,Ciel,Positive,eau de parfum,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100,69.93,2021-09-21,4,NaN,16
sid99999,cid8530,Elixir,Positive,eau de parfum,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50,97.11,2020-09-22,4,4,4
sid100000,cid44269,Belle,Positive,eau de parfum,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30,36.81,2020-12-16,5,2,2

In [108]:
#lets drop the second to the last column as we have no need for it anymore.
df_raw.drop(df_raw.columns[-2], axis=1, inplace=True)

In [109]:
df_raw

,Customer ID,Product Name,Sentiment,Category,User Type,Gender,Age,Price,Cost Price,Quantity,Payment Method,City,Country,Bottle Size (ml),Discount,Purchase Date,Rating,oil content (%)
Sales ID,,,,,,,,,,,,,,,,,,
sid2,cid18393,Dusk,Positive,eau de parfum,Women,F,37,98.222536,58.933522,8.0,Card,Tokyo,Japan,50,81.11,2017-07-26,5,2
sid3,cid3108,Aqua,Positive,eau de parfum,Women,M,34,143.470592,100.429415,2.0,Bank Transfer,Tokyo,Japan,30,36.22,2019-12-23,1,2
sid5,cid48531,Dusk,Positive,eau de parfum,Women,F,30,62.294481,37.376689,2.0,Cash,London,UK,30,44.53,2022-07-26,3,4
sid6,cid26224,Aqua,Positive,eau de cologne,Unisex,M,27,127.765291,102.212233,3.0,Card,Dubai,UAE,50,59.32,2017-10-16,5,3
sid8,cid39791,Dusk,Positive,eau de parfum,Men,M,44,180.938378,144.750702,6.0,Card,New York,USA,50,14.38,2020-08-07,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
sid99995,cid14569,Elixir,Negative,eau de parfum,Men,O,24,412.205061,494.646073,2.0,Cash,Sydney,Australia,50,1.01,2017-06-22,3,2
sid99996,cid15897,Aqua,Positive,eau de parfum,Unisex,F,25,592.211175,710.653410,6.0,Bank Transfer,Dubai,UAE,100,16.28,2022-12-31,3,19
sid99998,cid35422,Ciel,Positive,eau de parfum,Unisex,M,34,146.525687,10.000000,4.0,Card,Paris,France,100,69.93,2021-09-21,4,16
sid99999,cid8530,Elixir,Positive,eau de parfum,Women,F,40,284.124574,227.299659,6.0,Cash,Paris,France,50,97.11,2020-09-22,4,4
sid100000,cid44269,Belle,Positive,eau de parfum,Women,M,46,6969.170760,47.773840,10.0,Cash,New York,USA,30,36.81,2020-12-16,5,2

In [110]:
df_Elysian_cleaned=df_raw

In [111]:
df_Elysian_cleaned.to_csv('df_Elysian_cleaned.csv', index=True)